.all {
    display: flex;
    align-self: center;
    justify-content: center;
    border: 1px solid black;
}
canvas {
    border: 1px solid black;
}
.colourbuttons {
    width: 40px;
    border: 1px solid black;
}
.red {
    background-color: red;
}
.blue {
     background-color: blue;       
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}

.size{
    .sizebutton1{
        .circle {
            justify-self: center;
            height: 10px;
            width: 10px;
            border: 1px solid black;
            border-radius: 50px;
        }
    }
}
button {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    &:hover {
        border-radius: 3px;
    }
}