.all {
    display: flex;
    align-self: center;
    justify-content: center;
    border: 1px solid black;
}
canvas {
    border: 1px solid black;
}
.colourbuttons {
    button {
        height: 40px;
        width: 40px;
    }
    width: 40px;
    border: 1px solid black;
}
.red {
    background-color: red;
}